:root{
    --hieght-header: 50px;
    --button-color: hsl(0, 0%, 17%);
    --color-white:#ffffff;
    --shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}


*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* -------------------------------------head-------------------------------------------*/


header{
    height: var(--hieght-header);
    position: fixed;
    left: 0;
    top: 0;
    height: var(--hieght-header);
    width: 100%;
    
    display: flex;
    transition: background-color .5s,height .5s,box-shadow .5s;
    
}
.header__show{
    
    top:0;
    background-color: #ffffff;
    height: var(--hieght-header);
    width: 100%;
    left: 0;
    box-shadow: var(--shadow);
}

h2{
    font-weight: 600;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

header > nav{
    margin: 0 auto;
    padding: 0 1rem;
    width: 1024px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    



}


.bx-cart{
    cursor: pointer;
    font-size: 2rem;
    
    transition: 0.7s;
}

.bx-x{
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    font-size: 2rem;
    
    transition: 0.7s;
}

ul{

    display: flex;
    text-decoration: none;
    gap: 1rem;
    position: relative;

}
header .nav ul a{
    position: relative;

    text-decoration: none;
    color: #cccfcc;
    font-size: 20px;
    letter-spacing: 0.2rem;
}
a:hover{
    color: lightblue;

}
.btn-menu{
    font-size: 2rem;

}

.menu{
    background-color: red;
    height:100vh;
    width: 100%;
    
    position: fixed;
    top: calc(50px - var(--hieght-header));
    right: -100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    transition: right 0.5s;
}


.menu__show{
    right:0;
} 

/* .cart__bx{
    background-color: black;
    width: 10px;
} */


body{
    padding: 1rem;
    background-color:#ffffffcc;
}
img{
    width: 100%;
    display: block;
}

.principal__product{
    background-color: aqua;
    max-width: 1024px;
    left: 0;
    margin: 0 auto;
    height: 600px;
}
.buttons{
    max-width: 1024px;
    margin: 0 auto;
    
	padding: 1rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
    bottom:0;
}


.btn{


    flex-basis: 100px;
	flex-grow: 1;
	padding: 10px 20px;
	cursor: pointer;
    background-color: #ffffff;
    outline: none;
    border: none;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1rem;
    font-size: 1rem;

    transition: background-color 0.5s;
}
.btn:hover{
    background-color:var(--button-color);
    color: #ffffff;
}
.btn:focus{
    background-color:var(--button-color);
    color: #ffffff;
}


/* ----------------------------------------products-------------------------------- */

.products{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
    max-width: 1024px;
    margin: 0 auto;
    gap: 1rem;
    
}
.product{
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15);
}

.products__img{
    padding: 1rem;
    background-color: #cccd;
    border-radius: 1rem;
}

.product__info{
    
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.product__info > h4{
    min-height: 54px;
}

.product__info > span{
    font-weight: normal;
    font-size: 0.8rem;

}

.bx-plus{
    background-color: #cccfcc;
    padding: 0.5rem;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}


/* ------------------------------------------------------cart-------------------------- */


.cart{
    height: calc(100vh - 50px);
    width: 300px;
    background-color: #ffffff;
    position: fixed;
    top: calc(50px - var(--hieght-header));
    right: -200%;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    transition: right 0.5s;
}

.cart__show{
    right: 0;
}


.cart__products{
    background-color: rgb(255, 255, 255);
    height: 85%;


}


.cart__total{
    background-color:#cccd;
    height: 15%;

}