
:root{
    --hieght-header: 50px;
    --button-color: hsl(0, 0%, 17%);
    --color-white:#ffffff;
    --shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    --primario-100:#8FBF9F; 
    --primario-200:#68a67d; 
    --primario-300:#24613b; 
    --acento-100:#F18F01; 
    --acento-200:#833500; 
    --texto-100:#353535; 
    --texto-200:#5f5f5f; 
    --bg-100:#F5ECD7; 
    --bg-200:#ebe2cd; 
    --bg-300:#c2baa6;

}


*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* -------------------------------------head-------------------------------------------*/


header{
    
    position: fixed;
    left: 0;
    top: 0;
    height: var(--hieght-header);
    width: 100%;
    
    display: flex;
    transition: background-color .5s,height .5s,box-shadow .5s;
    
}
.header__show{
    
    top:0;
    background-color: var(--bg-100);
    height: var(--hieght-header);
    width: 100%;
    left: 0;
    box-shadow: var(--shadow);
}

h2{
    font-weight: 600;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

header > nav{
    margin: 0 auto;
    padding: 0 1rem;
    width: 1024px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.bx_mode{
    font-size: 2rem;
    cursor: pointer;
}


.bx-cart{
    cursor: pointer;
    font-size: 2rem;
    
    
    transition: 0.7s;
}
.bx-x__cart{
    color: var(--primario-300);
    position:absolute;
}

.bx-x{
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    font-size: 2rem;
    color: var(--primario-300);
    
    
    transition: 0.7s;
}

ul{

    display: flex;
    text-decoration: none;
    gap: 1rem;
    position: relative;

}

.btn-menu{
    font-size: 2rem;
    cursor: pointer;

}

.menu{
    
    height:100vh;
    width: 100%;
    background-color: var(--primario-100);
    position: fixed;
    top: calc(50px - var(--hieght-header));
    right: -100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    transition: right 0.5s;
}


.menu__show{
    right:0;
} 



.nav__mobile{
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1rem;
}

.tx-a{
font-size: x-large;
text-decoration: none;
color: var(--texto-200) ;
}
.tx-a:hover{
    color: var(--primario-300);
}



body{
    padding: 1rem;
    padding-top: 0;
    background-color:var(--bg-100);


}
body::-webkit-scrollbar{
    width: 12px;


}

body::-webkit-scrollbar-track{
    background-color: var(--bg-100);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--primario-300);
    border-radius: 2rem;
    border: 3px solid var(--bg-100);
    
}
img{
    width: 100%;
    display: block;
}

.principal__product{
    max-width: 1024px;
    height: 100%;
    
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    margin: 0 auto;
    
}
.info__product-principal{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
} 

.info__product-principal > p{
    letter-spacing: 0.2rem;
    line-height: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    
}
.info__product-principal > h2{
    font-size: 2rem;
}
.pP{
    
    
    font-size: x-large;
    font-weight: 500;
    color:var(--primario-300) 
}

.div{
    background-color: var(--bg-100);
    height: 300px;
}

.img-principal{
    display: flex;
    align-items: center;
    
    background-color: var(--primario-200);
    height: 500px;
    
    
    
}

.img-principal > img:hover{
    transform:scale(1);
}
.buttons{
    
    max-width: 1024px;
    margin: 0 auto;
	padding: 3rem 0;
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
	gap: 1rem;
    
}


.btn{


    
	
	padding: 10px 20px;
	cursor: pointer;
    background-color: var(--primario-100);
    outline: none;
    border: none;
    text-align: center;
    border-radius: 1rem;
    color: var(--primario-300);

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1rem;
    font-size: 1.3rem;
    flex-grow: 1px;
    
    

    transition: background-color 0.5s;
}
.btn:hover{
    background-color:var(--primario-200);
    color: var(--primario-100);
}
.btn:focus{
    background-color:var(--primario-300);
    color: var(--primario-100);
}


/* ----------------------------------------products-------------------------------- */

.products{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    max-width: 1024px;
    margin: 0 auto;
    gap: 1rem;
    
}
.product{
    background-color: var(--primario-200);
    border-radius: 2rem;
    box-shadow:  0 .5rem 1rem var(--bg-300);
}

.products__img{
    padding: 1rem;
    background-color: var(--bg-300);
    border-radius: 1rem;
    
    
}
img:hover{
    transform:scale(1.1);
    transition: transform 0.8s ;
    
}

.product__info{
    
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.product__info > h4{
    
    color: var(--texto-100);

}
.product__info > h5{
    color: var(--texto-100);
    font-size: large;
}
.h4Stock{
    background-color: var(--primario-300);
    
    height: 20px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 20px 5px;

    border-radius: 3rem;
    

}
.stock{
    color: var(--bg-100);
}



.bx-plus{
    background-color: var(--primario-100);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--primario-300);
    font-size: 1.5rem;
    cursor: pointer;
}

.bx-plus:hover{
    background-color:var(--primario-300);
    color: var(--primario-100);
}
.bx-plus:active{
    background-color:var(--primario-100);
    color: var(--primario-300);
}


/* --------------------------------------------cart-------------------------- */


.cart{
    height:calc(100vh - 50px);
    width: 400px;
    
    position: fixed;
    right: -200%;
    padding:0;
    margin: 0;
    top: calc(50px - var(--hieght-header));

    display: flex;
    flex-direction: column;

    transition: right 0.5s;
}

.cart__show{
    
    right: 0;
}


.cart__products{
    background-color: var(--bg-100);
    height: 80%;


}


.cart__total{
    background-color:var(--bg-100);
    height: 20%;
    display: flex;
    
}

.cart__total--buy{
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px  ;
    


}

.tP-pI{
    
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: var(--texto-200);
    margin: 0;
    
    
}
.tP{
    font-size: larger;
}

    
.btn-buy{
    
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;

    border: none;
    background-color: var(--primario-200);
    border-radius: 1rem;
    color: var(--primario-300);
    font-size: larger;

}

.btn-buy:hover{
    background-color: var(--primario-300);
    color: var(--primario-200);
}
